{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($context.arguments.post.id)
  },
  #if($context.arguments.condition)
    "condition": $utils.transform.toDynamoDBConditionExpression($context.arguments.condition),
  #end
  "attributeValues": $util.dynamodb.toMapValuesJson($ctx.args.post)
}